body {
    text-align: center;
}
#mainForm {
    margin-top: 10vh;
    display: inline-block;
}
.form-row {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.form-row small {
    display: none;
    color: #ff0000;
}
.form-row.success input {
    border-color: #00ff00;
}
.form-row.error input {
    border-color: #ff0000;
}
.form-row.error small {
    display: block;
}
#library {
    margin-top: 5vh;
}
.book {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    margin: auto;
}
.longFields {
    width: 30%;
}
.shortFields {
    width: 10%;
}
